/* body style */
body {
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--bg-body);
  color: var(--text-body);
}

/* container grid */
#container{
  display: grid;
  height: 100vh;
  grid-template-areas: 
  "header header header"
  "nav nav nav"
  "section section section"
  "footer footer footer";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto 1fr auto;
}

#header { grid-area: header; }
#nav { grid-area: nav; }
#section { grid-area: section; }
#footer { grid-area: footer; }

/* header style */
header{
  align-content: center;
  background-color: var(--bg-header);
  color: var(--text-header);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
}

/* nav style */
nav {
  align-content: center;
  background-color: var(--bg-nav);
  color: var(--text-nav);
  padding: 0 7rem;
}

#nav_ul_item{
  display: flex;
  justify-content: space-between;
}

.nav_li_items{
  padding: 0.5rem 0;
  font-weight: bold;
  list-style: none;
}

.nav_a_items:hover{
  color: var(--hover-nav);
}

.nav_a_items{
  color: var(--text-nav);
  text-decoration: none;
}

/* section style */
section{
  background-color: var(--bg-section);
  color: var(--text-section);
  align-content: center;
  text-align: center;
}

#section_title{
  padding: 3rem;
}
.section_contents{
  padding: 0.5rem;
}


footer{
  padding: 0.5rem 0;
  align-content: center;
  background-color: var(--bg-footer);
  color: var(--text-footer);
  justify-content: end;
}
#footer_div p{
  font-size: smaller;
  margin-left: 2rem;
  text-align: start;
}