/* body style */
body {
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--bg-body);
  color: var(--text-body);
}

/* container grid */
#container{
  display: grid;
  height: 100vh;
  grid-template-areas: 
  "header header header"
  "nav nav nav"
  "section section section"
  "footer footer footer";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto 1fr auto;
}

#header { grid-area: header; }
#nav { grid-area: nav; }
#section { grid-area: section; }
#footer { grid-area: footer; }

body {
  background: var(--bg-body);
  color: var(--text-body);
}

header{
  align-content: center;
  background-color: var(--bg-header);
  color: var(--text-header);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
}

nav {
  align-content: center;
  background-color: var(--bg-nav);
  color: var(--text-nav);
  padding: 0 7rem;
}

#nav_ul_item{
  display: flex;
  justify-content: space-between;
}

.nav_li_items{
  padding: 0.5rem 0;
  font-weight: bold;
  list-style: none;
}

.nav_a_items:hover{
  color: var(--hover-nav);
}

.nav_a_items{
  color: var(--text-nav);
  text-decoration: none;
}

section{
  display: flex;
  flex-direction: column;
  background-color: var(--bg-section);
  color: var(--text-section);
  justify-content: center;
  align-items: center;
  text-align: center;
}

#section_card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40rem;
  height: 20rem;
  background: var(--bg-card);
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
  cursor: pointer;
  transition: transform 0.5s;
  transform: rotateY(0deg);
}

#controls {
  margin-top: 2rem;
}

.controls_btn {
  margin: 0 1rem;
  padding: 0.7rem 2rem;
  border: none;
  border-radius: 8px;
  background: var(--bg-header);
  color: var(--text-header);
  font-size: 1rem;
  cursor: pointer;
}

.controls_btn:hover {
  background: var(--hover-btn);
  color: var(--hover-btn-text);
}

footer{
  padding: 0.5rem 0;
  align-content: center;
  background-color: var(--bg-footer);
  color: var(--text-footer);
  justify-content: end;
}
#footer_div p{
  font-size: smaller;
  margin-left: 2rem;
  text-align: start;
}
